@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.word-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-top: 30%;

  @include tablet {
    margin-top: 15%;
    gap: 1rem;
  }

  @include desktop {
    margin-top: 8%;
  }

  &__word {
    display: flex;
    gap: 0.5rem;

    @include tablet {
      gap: 0.75rem;
    }
  }

  &__letter {
    @include display-letter;
    display: flex;

    &--disabled {
      opacity: 0.35;
    }
  }
}
