@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin heading-xl {
  font-size: 8.5rem;
}

@mixin heading-l {
  font-size: 5.5rem;
}

@mixin heading-m {
  font-size: 3rem;
  letter-spacing: 0.15rem;
}

@mixin heading-s {
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

@mixin body {
  font-size: 1.625rem;
  letter-spacing: 0.0813rem;
}

@mixin btn-one {
  background-color: $blue;
  @include heading-s;
  text-transform: uppercase;
  border: none;
  border-radius: 2.5rem;
  padding: 0.75rem 4rem;
  color: white;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #3c74ff;
    box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #5a8fff;
  }
}

@mixin btn-two {
  background: linear-gradient(to right, #fe71fe 0%, #7199ff 100%);
  @include heading-s;
  text-transform: uppercase;
  border: none;
  border-radius: 2.5rem;
  padding: 0.75rem 4rem;
  color: white;
  box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #c642fb;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: linear-gradient(to right, #f798f7 0%, #86a5f6 100%);
    box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #d260ff;
  }
}

@mixin nav-btn {
  background: linear-gradient(#fe71fe, #7199ff);
  box-shadow: inset 0 -4px 0px 1px rgb(157, 45, 245, 0.4);
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  &:hover {
    background: linear-gradient(#fe83fe, #83a5fc);
    box-shadow: inset 0 -4px 0px 1px rgba(164, 57, 245, 0.4);
  }
}
