// Colors
$dark-navy: #261676;
$blue: #2463ff;

// Typography
$heading-xl: 8.5rem;
$heading-l: 5.5rem;
$heading-m: 3rem;
$heading-s: 2rem;
$body: 1.625rem;

// Media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
