@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  display: flex;
  align-items: center;

  &__content {
    @include modal-screen;
    gap: 3.5625rem;
    padding: 0 2rem 4rem;
    padding-bottom: 4rem;

    @include tablet {
      padding: 0 6.8125rem 3.1875rem;
    }

    @include desktop {
      // margin: 0 30%;
    }
  }

  &__play-btn {
    @include btn-two;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    @include tablet {
      width: 12.5rem;
      height: 12.5rem;
    }
  }

  &__play-icon {
    width: 3.25rem;

    @include tablet {
      width: 4.125rem;
    }
  }

  &__instructions-btn {
    @include btn-one;
  }
}

.logo {
  width: 16.4375rem;
  margin-top: -3.25rem;

  @include tablet {
    width: 23.375rem;
    margin-top: -7rem;
  }
}
