@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.menu-btn {
  @include nav-btn;

  &__icon {
    width: 1rem;

    @include tablet {
      width: 1.6rem;
    }

    @include desktop {
      width: 2.375rem;
    }
  }
}

.heart-icon {
  width: 1.635rem;

  @include tablet {
    width: 3.3331rem;
  }
}

.in-game {
  @include page-margins;
  width: 100%;

  &__nav {
    @include page-navigation;
  }

  &__nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include tablet {
      gap: 2rem;
    }

    @include desktop {
      gap: 3.5625rem;
    }
  }

  &__category-name {
    font-size: 2.5rem;
    color: white;

    @include tablet {
      @include heading-m;
    }

    @include desktop {
      @include heading-l;
      text-transform: capitalize;
    }
  }

  &__progress {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include tablet {
      gap: 2.5rem;
    }
  }
}
