@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      rgba(26, 4, 58, 0.75) 0%,
      rgba(21, 18, 120, 0.75) 70%,
      rgba(43, 22, 119, 0.75) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__content {
    @include modal-screen;
    margin: 0 1.5625rem;
    padding-bottom: 5.4375rem;

    @include tablet {
      margin: 0 5.5rem;
    }

    @include desktop {
      margin: 0 30%;
    }
  }

  &__title-img {
    margin-top: -3rem;
    margin-bottom: 2.5rem;
    width: 11.625rem;
    height: 7.0625rem;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;

    :nth-child(1),
    :nth-child(2) {
      @include btn-one;
    }

    :nth-child(3) {
      @include btn-two;
    }
  }
}
