@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28px, 1fr));
  gap: 1.5rem 0.5rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 1.5rem 1rem;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(109px, 1fr));
    gap: 1.5rem;
  }

  &__letter {
    background-color: white;
    color: $dark-navy;
    font-size: 1.5rem;
    padding: 0.625rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $blue;
    }

    &:disabled {
      background-color: #6c757d;
      cursor: not-allowed;
    }

    @include tablet {
      @include heading-m;
      padding: 0.8125rem 1.4688rem;
      border-radius: 1.5rem;
    }

    @include desktop {
      padding: 0.8125rem 2.875rem;
    }
  }
}
