@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.progress-bar {
  background-color: white;
  width: 3.5625rem;
  height: 1rem;
  border-radius: 6rem;
  padding: 0.25rem;

  @include tablet {
    width: 10rem;
    height: 1.9375rem;
    padding: 0.6rem;
  }

  @include tablet {
    width: 15rem;
  }
}

.progress {
  background-color: $dark-navy;
  border-radius: 6rem;
  height: 100%;
  transition: width 0.3s ease;
}
