@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.back-btn {
  @include nav-btn;
  padding: 0.6875rem;

  &__icon {
    width: 1.0906rem;

    @include tablet {
      width: 1.75rem;
    }
  }
}

.how-to {
  margin: 0 1.5625rem;

  @include tablet {
    margin: 0 2.75rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 5rem;

    @include tablet {
    }
  }

  &__title {
    @include heading-m;
    background: linear-gradient(#67b6ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include tablet {
      font-size: 6.5rem;
      align-self: center;
    }
  }

  &__cards {
  }
}
