@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.back-btn {
  @include nav-btn;
  padding: 0.6875rem;

  &__icon {
    width: 1.0906rem;

    @include tablet {
      width: 1.75rem;
    }

    @include desktop {
      width: 2.5625rem;
    }
  }
}

.how-to {
  margin: 0 1.5625rem;

  @include tablet {
    margin: 0 2.75rem;
  }

  @include desktop {
    margin: 0 7rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 5rem;

    @include tablet {
    }
  }

  &__title {
    background-image: url("../../assets/images/how-to-play-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 11.5625rem;
    height: 3.625rem;

    @include tablet {
      background-image: url("../../assets/images/how-to-play-tablet.svg");
      width: 21.4375rem;
      height: 7.8125rem;
    }

    @include desktop {
      background-image: url("../../assets/images/how-to-play-desktop.svg");
      width: 28rem;
      height: 10.1875rem;
    }
  }
}
